@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular-Web.eot") format("embedded-opentype"), url("../fonts/Graphik-Regular-Web.ttf") format("truetype"), url("../fonts/Graphik-Regular-Web.woff") format("woff"), url("../fonts/Graphik-Regular-Web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Semibold-Web.eot") format("embedded-opentype"), url("../fonts/Graphik-Semibold-Web.ttf") format("truetype"), url("../fonts/Graphik-Semibold-Web.woff") format("woff"), url("../fonts/Graphik-Semibold-Web.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
